@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

h1 {
  font-size: 35px;
}

a {
  color: #3ECAED;
}

a:hover {
  color: #3ECAED;
  text-decoration: none;
}

body {
  background: image_url('dust_scratches.png');
  font-family: "montserratregular", sans-serif;
}

.navbar {
  background: image_url('grey_wash_wall_@2X.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #3ECAED;
  font-family: "montserratregular", sans-serif;
  font-size: 40px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #3ECAED;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #3ECAED;
  border-color: #3ECAED;
}


.btn-secondary {
  color: #3ECAED;
  background-color: #fff;
  border-color: #ddd;
  margin-left: 4px;
  font-family: "montserratregular", sans-serif;
  font-weight: bold;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.comment {
  background: #f2f2f2;
  border-left: 6px solid #3ECAED;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}

.comment:before {
  color: #3ECAED;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.comment p {
  display: inline;
}


.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #3ECAED;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #3ECAED;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.show-image-size {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.index-image-size {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #ddd;
  background-color: #ddd;
  width: 60%;
}

.photo {
  margin-top: 20px;
}

.photo-display {
  background: #fff;
  padding: .25rem;
  margin-bottom: 2rem;
  quotes: "\201C""\201D";
  text-align: center;
}

.photo-display p {
  display: inline;
}

.photos-index {
  width: 100%;
  height: auto;
  padding: .25rem;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  position: relative;
  margin: 0;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}

.carousel-caption {
  font-family: "montserratregular", sans-serif;
  font-size: 50px;
  font-weight: 100px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: block;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  align: center;
}

